@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<GYM_MANAGER_PROJECTFSOFT.Models.RoomDeviceInStock>
@using GYM_MANAGER_PROJECTFSOFT.Models

@{ 
    TAIKHOAN taikhoan = Session["TaiKhoan"] as TAIKHOAN;
}

@{
    ViewBag.Title = "RoomDeviceInStock";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}


<h2 class="text-center">Room Device In Stock</h2>

<style>
    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }
</style>

<table class="table">
    <thead style="background-color: #446ad7;">
        <tr style="color: white;">
            <th>
                <p class="text-center">DeiveCodeInStock</p>
            </th>
            <th>
                <p class="text-center">DeviceName</p>
            </th>
            <th>
                <p class="text-center">DeviceImage</p>
            </th>
            <th>
                <p class="text-center">DeviceStatus</p>
            </th>
            <th>
                <p class="text-center">StatusInStock</p>
            </th>
            <th>
                <p class="text-center">Action</p>
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p class="text-center">@item.MaThietBiTrongKho</p>
            </td>
            <td>
                <p class="text-center">@item.TenThietBi</p>
            </td>
            <td>
                <p class="text-center"><img src="@Url.Content("~/Content/ImagesGym/" + item.HinhThietBi)" alt="" style="width: 200px; height: 150px"></p>
            </td>
            <td>
                <p class="text-center">@item.TrangThaiThietBi</p>
            </td>
            <td>
                <p class="text-center">@item.TrangThaiTonKho</p>
            </td>
            <td style="text-align: center;">
                @if (taikhoan.TaiKhoan1 == "kit")
                {
                    <a class="btn btn-outline-success" href="@Url.Action("EditDeviceInStock", "StockManager", new {id = item.MaThietBiTrongKho})">Edit</a>
                }
                <a class="btn btn-outline-danger" href="@Url.Action("DeleteDeviceInStock", "StockManager", new {id = item.MaThietBiTrongKho})">Delete</a>
            </td>
        </tr>
    }

</table>

<p class="text-center">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount </p>

<div class="nav justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("DeviceListInStock", new { page = page }))
</div>

